<ng-container>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav class="sidenav relative" opened="false" mode="side" [fixedInViewport]="true">
      <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{title}}</span>
      </mat-toolbar>

      <app-file-chooser></app-file-chooser>
      <app-audio-player></app-audio-player>
    </mat-sidenav>

    <div class="sidenav-content">
      <app-audio-visualaser></app-audio-visualaser>
    </div>

  </mat-sidenav-container>
</ng-container>
