<ng-container>
  <mat-toolbar color="primary">
    <span>{{title}}</span>
  </mat-toolbar>

  <mat-sidenav-container autosize>

    <mat-sidenav #sidenav class="sidenav relative" opened="true" mode="side" [fixedInViewport]="true">
      <mat-toolbar color="primary">
        <span>{{title}}</span>
      </mat-toolbar>

      <div class="padded">
        <app-file-chooser></app-file-chooser>
        <button mat-raised-button class="spreading top-margined" color="primary" (click)="onBtnPlay()">Start</button>
        <button mat-raised-button class="spreading top-margined" color="primary" (click)="setAudioSource()">Set audio source</button>
      </div>

      <audio #audioOption controls (play)="onPlay()"></audio>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <button type="button" mat-button (click)="sidenav.toggle()">
        Toggle sidenav
      </button>

      <app-audio-visualaser>

      </app-audio-visualaser>
    </div>

  </mat-sidenav-container>
</ng-container>
