
$appbarHeight: 56px;

.sidenav {
  width: 300px;
  overflow: hidden;
  box-shadow: 0 0 1px 0 #ccc;
}

.spreading {
  width: 100%;
}

.visualiser {
  margin: auto;
  min-height: 80%;
  position: relative;
  height: 800px;
  width: 100%;
}

.top-margined {
  margin-top: 20px;
}

mat-sidenav-container {
  height: calc(100vh - #{$appbarHeight});
}

.sidenav-content {
  height: 100%;
  overflow: hidden;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: $appbarHeight;
}
