.sidenav {
  width: 300px;
  box-shadow: 0 0 1px 0 #ccc;
}
.padded {
  padding: 20px;
}

.spreading {
  width: 100%;
}

.visualiser {
  margin: auto;
  min-height: 80%;
  position: relative;
  height: 800px;
  width: 100%;
}

audio {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: calc(100%);
}

.top-margined {
  margin-top: 20px;
}

mat-sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav-content {
  height: 100%;
  overflow: hidden;
}
