<ng-container>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
  </mat-toolbar>

  <mat-sidenav-container>

    <mat-sidenav #sidenav class="sidenav relative" opened="false" mode="side" [fixedInViewport]="true">
      <mat-toolbar color="primary">
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>{{title}}</span>
      </mat-toolbar>

      <div class="padded">
        <app-file-chooser></app-file-chooser>
        <button mat-raised-button class="spreading top-margined" color="primary" (click)="onBtnPlay()">Start</button>
        <button mat-raised-button class="spreading top-margined" color="primary" (click)="setAudioSource()">Set audio source</button>
      </div>

      <audio #audioOption controls (play)="onPlay()"></audio>
    </mat-sidenav>

    <div class="sidenav-content">
      <app-audio-visualaser></app-audio-visualaser>
    </div>

  </mat-sidenav-container>
</ng-container>
