.container {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-gap: 10px;
  // grid-auto-rows: minmax(50px, auto);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visualiser {
  margin: auto;
  min-height: 80%;
  position: relative;
  height: 800px;
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#canvas {
  // position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 32px);
  z-index: 0;
}

audio {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: calc(100%);
}
